.hover03 figure img {
	-webkit-transform: scale(1.5);
	transform: scale(0.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover03 figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.button {
    display: inline;
    width: 61px;
    height: 38px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
